[submodule "First(test) project/Александр Родионов"]
	path = First(test) project/Александр Родионов
	url = https://github.com/Rexarrior/JsPhoneBook
[submodule "First(test) project/Вадим Усинов"]
	path = First(test) project/Вадим Усинов
	url = https://github.com/WazZro/Phonebook
